body{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background : linear-gradient( lightseagreen,  cornflowerblue 90%) fixed;
}
h1
{
    color : maroon;
    font-size: 75px ;
}
h2
{
    color : mediumvioletred;
    font-size : 50px;
}
.myButton
{
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}
input
{
    ;
}
.button3 {
    background-color: deeppink;
    color: white;
    border: 2px solid deeppink;
    border-radius: 30px;
}
.button3:hover {
    background-color: white;
    color: black;
}